.jump
%h3 Tour de France Moto 2013
.flex-video
  %iframe{allowfullscreen: "", frameborder: "0", height: "315", src: "//www.dailymotion.com/embed/video/x1536di?autoPlay=1", width: "560"}
  %br/
  %a{href: "http://www.dailymotion.com/video/x1536di_tour-de-france-moto-2013_auto", target: "_blank"} Tour de France Moto 2013
