%br
.panel
  %h3= t('watchvideo')
  - videos.each do |vid|
    = link_to vid.url do
      .columns.small-3.medium-2
        .inline.button.secondary.radius.video_mini
          = icon('play-circle-o')
          = vid.title.truncate(60, separator: ' ')
      |
%br
