.row-fluid
  %span.span6.offset3
    %br/
    %br/
    %br/
    %br/
    %br/
    %br/
    .row-fluid
      .well
        .row-fluid
          %span.span4
            %h4.heading.heading-1
              %strong.alignleft
                = @post.title
          %p.alignright.date
            = @post.created_at.strftime("%e %b %Y")
        %p.p-1
          = @post.text
        %br/
        %p
          = link_to 'Retour', :controller => "welcome"
    %br/
    %br/