/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require font-awesome
 */

$green: #244028;
$red : #732020 ;

@import 'foundation_and_overrides';


@font-face {
  font-family: "nunito";
  src: url('nunito.ttf') format('truetype');
}

@font-face {
  font-family: 'old_press';
  src: font-url('old_press.ttf') format('truetype');
}

h1,h2,h3,h4,h5,h6 { font-weight: normal;}

.background_image {
  background-image: asset-url('background2.jpg');
  background-repeat: no-repeat ;
  background-position: top center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  padding-left: 0;
  padding-right: 0;
}

.jump { margin-bottom: 8em }

.heading-1, .heading {
  font-family: "nunito" ;
}

.fa { font-size: 1.3em; }

.fa-quote-left { margin-right: 4px }

.fa-quote-right { margin-left: 4px }

.flag { margin-bottom: 7 }

.button {

  a {color: #FFF;}
}

.video_icon {
  margin: 10px;
  font-size: 1.5em;
  color : white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.bd-left {
  border-left: 1px solid #DDD;
  margin-bottom: 15px;
}

.big_title {
  font-family: 'old_press';
  font-size: 4em;
  color: #EEE ;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 1);
}
.subtitle {
  margin-bottom: 3em;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 1);
  font-size: 1.3em;
  font-weight: lighter;
  color: #DDD ;
}

.label { margin-bottom: 5px }

.reading_box { background-color: #FAFAFA }

.twt_box {
  padding : 5px 0px 5px 15px;
  background-color: #F6F6F6;
  top : 25px;
}

.quote_box {
  position :relative;
  top : 25px;
  padding : 10px 20px 1px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  background-color: #F6F6F6;
  border-radius : 3px;
  line-height: 1.2em;
}

.time_date {
  color: #999;
  font-size: 1.1em;
  padding: 5px 0;
}

.source, .source a {
  font-size: 0.9em;
  color: #888;
  margin: 12px 0 20px;
}

.crop {
  margin-bottom: 5px;
  height: 170px;
  overflow: hidden;
  float: left;
  .text {
    position:absolute;
    bottom:0px; 
    left:0px;  
    width:100%;  
    color:white;  
    opacity:0.9;
    background-color:rgba(51,51,51,0.65);
    padding:0.625rem 0.875rem;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);
  }
  img { width: 100% }
}

.no-pad { padding: 0 }

.well_title {
  padding: 30px 0px 1px 0px;
  width: 100%;
  margin: 55px 0 50px 0;
  background-color: rgba(245, 245, 245, 0.75);
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.with_margin { margin-right: 10px; }

.resume_contact_box .label {
  margin-bottom: 5px;
  padding: 6px;
  a {color: #FFF }
}

.reflexion_box { margin-bottom: 28px }

.photo_cv { border-radius: 3px }

.footer {
  background: $green;
  border-radius: 0px;
  color: #E5E5E5;
  border-left: 3px solid #E5E5E5; 
  padding-left: 12px;
  p{
    margin-bottom: 5px;
  }
  h3 {  color: #dbdbdb;
        margin-bottom: 10px;
        font-weight: bold;
      }

  a { color: #E5E5E5 }

  a:hover, a:focus {color: #CCCCCC}
}


.p-3 {
  margin: 10px 0px 10px 0px;
  font-weight: 600;
}

.next_article_box {
  padding : 5px 15px 5px 15px;
  margin : 5px 0 20px 0;
  background-color: #EFEFEF;
  border-radius: 3px;
}