.columns.footer
  %p=link_to 'What I do', mois_realisation_path
  %p=link_to 'Fun', mois_tour_path
  %p=link_to 'Basic Income', "https://www.youtube.com/watch?v=-cwdVDcm-Z0"
  %p=link_to "Humans Need Not Apply","https://vimeo.com/105406386"
  %small written with ♥ by Vincent Jumeaux